@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./utils/variables";
@import "./components/composants";
/* GENERAL */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body
{
    font-family: "roboto", Arial, sans-serif;
}
h2
{
    font-size: 1.5rem;
}
a
{
    text-decoration: none;
}

/* HEADER */
#logo
{
    text-align: center;
}

/* SECTION 1 */
.localisation
{
    border-top: 2px #cecece solid;
    box-shadow: inset 0px 1px 5px #cecece;
    background-color: #eaeaea;
    padding: 1.2rem 0rem;
    font-weight: bold;
    &__contenu
    {
        display: flex;
        justify-content: center;
        .fa-map-marker-alt
        {
            margin-right: 1rem;
        }
    }
}

/* SECTION 2 */
.explorer 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f6f6f6;
    margin-bottom: 3.1rem;
    &__contenu 
    {
        margin: 2.8rem 4rem 3.75rem 4rem;
        h2, p
        {
            margin-bottom: 1rem;
        }
    
    }
}
.bouton-explorer
{
    @include bouton;
}