@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./utils/variables";
@import "./utils/keyframes";
@import "./components/composants";
@import "./components/images";
/* GENERAL */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    max-width: 1500px;
    font-family: "roboto", Arial, sans-serif;
    font-size: 0.9rem;
    margin: auto;
}
.loader-spinner
{
    
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    height: 100vh;
    width: 100vw;
    color: white;
    font-size: 2rem;
    background: $degraded-color;
    animation: loader 4s ease-in-out both;
    .fa-spinner
    {
        animation: loader-spinner 1s ease-in-out 4 both;
    }
}
.index-content
{
    background-color: white;
    animation: content-animation 1s ease-in-out 3s both;
}
.wrapper // background à appliquer sur les menus uniquement
{
    background-color: $background-color;
}
h1
{
    font-family: "shrikhand", "times New Roman", Times, serif;
    font-size: 1.25rem;
}
h2
{
    font-family: "shrikhand", "times New Roman", Times, serif;
    font-weight: lighter;
    font-size: 1.5rem;
}
h3
{
    font-size: 1.25rem;
}
h4
{
    font-size: 1rem;
}
h5
{
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 1.5rem;
}
a
{
    text-decoration: none;
    color: black;
}
/* HEADER */
header
{
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    .arrow 
    {
        position: absolute;
        top: 1.1rem;
        left: 1rem;
        @media (min-width: 768px)
        {
            left: 5%;
        }
    }
}
.fa-arrow-left
{
    right: 2rem;
    font-size: 1.3rem;
}
    .logo 
{
    text-align: center;
    padding: 1rem 0rem 0.5rem 0rem;
    img
    {
        width: 9rem;
        height: auto;
    }
}

/* SECTION 1 */
.localisation
{
    border-top: 2px #cecece solid;
    box-shadow: inset 0px 1px 5px #cecece;
    background-color: #eaeaea;
    padding: 1.2rem 0rem;
    font-weight: bold;
    &__contenu
    {
        display: flex;
        justify-content: center;
        .fa-map-marker-alt
        {
            margin-right: 1rem;
        }
    }
}

/* SECTION 2 */
.explorer 
{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $background-color;
    margin-bottom: 3.1rem;
    &__contenu 
    {
        margin: 2.8rem 2rem 3.75rem 2rem;
        h3, p
        {
            margin-bottom: 1rem;
        }
        &__bouton
        {
            @include bouton;
        }
    }
}

/* SECTION 3 */
.fonctionnement
{
    margin : 0rem 1rem 4rem 1.70rem; //1.70rem à gauche pour combler le décalage de 0.70rem vers la gauche du span
    h3
    {
        margin-left: -0.70rem; // 1.70rem - 0.70rem = 1rem
        margin-bottom: 2.5rem;
    }
    &__options 
    {
        @media (min-width: 768px)
        {
            display: flex;
            justify-content: space-around;
        }
        &__cards
        {
            display: flex;
            align-items: center;
            width: 100%;
            height: 4.4rem;
            background-color: $background-color;
            border-radius: 20px;
            box-shadow: $box-shadow;
            margin-bottom: 1rem;
            @media (min-width: 768px)
            {
                width: 30%;
            }
            i
            {
                color: #7e7e7e;
                margin:auto 1rem auto 0.30rem;
                width: 20px;
            }
            span 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width : 1.4rem;
                height: 1.4rem;
                border-radius: 100%;
                background-color: $primary-color;
                position: relative;
                left: -0.70rem; //
                
            }
            p
            {
                font-weight: bold;
            }
            &:hover
            {
                background-color: #f5edff;
                i 
                {
                    color: $primary-color;
                }
            }
        }
    }
}
/* SECTION 4 */
.restaurants
{
    background-color: $background-color;
    &__contenu
    {
        margin: 0rem 1rem 0rem 1rem;
        padding: 3.75rem 0rem 3.75rem 0rem;
        h3
        {
            margin-bottom: 2rem;
        }
        &__cards
        {
            @media (min-width: 768px)
            {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }
}
.card-container
{
    @media (min-width: 768px)
    {
        width: 45%;
    }
}
.card
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 75px;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    &__image
    {
        grid-column: 1 / span2;
        grid-row: 1;
        width : 100%;
        height: 170px;
        object-fit: cover;
    }
    &__nouveau
    {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        width: 5rem;
        height: 1.9rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: #008766;
        background-color: #99e2d0;
        border-radius: 2px;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }
    &__heart
    {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
        margin: 1.5rem;
        @include heart
    }
    &__body
    {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        h4 
        {
            margin-bottom: 0.25rem;
        }
    }
}

/* FOOTER */
footer
{
    background-color: #353535;
    color: white;
    padding-bottom: 2rem;
    h1
    {
        margin: 0rem 0rem 1rem 1rem;
        padding-top: 1rem;
        font-weight: lighter;
        @media (min-width: 768px)
        {
            text-align: center;
        }
    }
    i 
    {
       margin-right: 0.5rem;
    }
    ul 
    {
        list-style-type: none;
        margin-left: 1rem;
        @media (min-width: 768px)
        {
            display: flex;
            justify-content: space-around;
            white-space: nowrap;
        }
        li
        {
            margin-bottom: 0.50rem;
            @media (min-width: 768px)
            {
                width: 25%;
                text-align: center;
            }
            a 
            {
            color: white;
            }
        }
    }
}
.fa-hands-helping
{
    font-size: 0.70rem;
    width: 13px;
}

/*---------------------------------------
---------------------PAGE 2----------------
---------------------------------------------*/

/* SECTION 1 */
.illustration
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 65px;
    &__image
    {
        grid-column: 1 / span 2;
        width: 100%;
        height: 260px;
        font-size: 1.25rem;
        object-fit: cover;
        @media (min-width: 768px)
        {
            display: flex;
            justify-content: center;
        }
    }
    &__body
    {
        grid-column: 1 / span 2;
        grid-row: 2;
        background-color: $background-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 35px 35px 0px 0px;
        padding: 1rem 1rem 0rem 1rem;
        h2 
        {
            @media (min-width: 768px)
            {
                padding-left: 2.5%;
            }
        }
        i 
        {
            @media (min-width: 768px)
            {
                padding-right: 2.5%;
            }
        }
    }
    @include heart
}
/* SECTION 2 */
.menu
{
    @media (min-width: 768px)
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__starter
    {
        @media (min-width: 768px)
        {
            width: 45%;
        }
    }
    &__main
    {
        @media (min-width: 768px)
        {
            width: 45%;
        }
    }
    &__dessert
    {
        @media (min-width: 768px)
        {
            width: 95%;
        }
    }
}
.menu
{
    &__title
    {
        margin-top: 2rem;
        margin-bottom: 1rem;
        span
        {
            border-bottom: solid #99e2d0 3px;
        }
    }
    &__card
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        overflow: hidden;
        margin: 0rem 1rem 1rem 1rem;
        cursor: pointer;
        &:active
        {
            .menu__card__body
            {
            width: 80%;
                + .menu__card__body__animation-check
                {
                    width: 20%;
                    transform: scale(1);
                    .fa-check-circle
                    {
                        animation: check-rotate 800ms linear;
                    }
                }
            }
        }
        @media (min-width: 768px)
        {
            &:hover
            {
                .menu__card__body
                {
                width: 80%;
                    + .menu__card__body__animation-check
                    {
                        width: 20%;
                        transform: scale(1);
                        .fa-check-circle
                        {
                            animation: check-rotate 800ms linear;
                        }
                    }
                }
            }
        }
        &__body
        {
            width: 100%;
            transition: all 1s;
            &__title
            {
                padding-left:  1rem;
            }
            &__description
            {
                display: flex;
                justify-content: space-between;
                padding: 0rem 1rem;
                p
                {
                    font-size: 0.8rem;
                    margin-right: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                span 
                {
                    font-weight: bold;
                }
            }
            &__animation-check
            {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 0%;
                background-color: #99e2d0;
                border-radius: 0px 15px 15px 0px;
                transform: scale(0,1);
                transform-origin: right;
                transition: all 1s;
                .fa-check-circle
                {
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
    }
}

/* SECTION 3 */
.order
{
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    &__button
    {
        @include bouton;
    }
}